{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Posty</h2>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div>
                <strong>{{ post.title }}</strong>
                <i>@{{ post.author }}, {{ post.createdAt|format_datetime('medium', 'short') }}</i>
                <p>{{ post.text }}</p>
            </div>
        {% endfor %}
        {% block pagination %}
                {% if previous >= 0 %}
                    <a href="{{ path('homepage', { offset: previous }) }}">Prev</a>
                {% endif %}
                {% if next < posts|length %}
                    <a href="{{ path('homepage', { offset: next }) }}">Next</a>
                {% endif %}
        {% endblock %}
    {% else %}
        <p>Ten blog nie posiada jeszcze żadnych wpisów.</p>
    {% endif %}
</div>
{% endblock %}
