{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="my-3">Posty</h2>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="card border shadow mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@{{ post.author }}, {{ post.createdAt|format_datetime('medium', 'short') }}</h6>
                    <p class="card-text">{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
        {% block pagination %}
            {% if previous >= 0 or next < posts|length %}
                <nav>
                    <ul class="pagination">
                        {% if previous >= 0 %}
                            <li class="page-item"><a class="page-link" href="{{ path('homepage', { offset: previous }) }}">Previous</a></li>
                        {% endif %}
                        {% if next < posts|length %}
                            <li class="page-item"><a class="page-link" href="{{ path('homepage', { offset: next }) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endblock %}
    {% else %}
        <p>Ten blog nie posiada jeszcze żadnych wpisów.</p>
    {% endif %}
{% endblock %}
